{% extends "base.html" %}
{% comment %}

LICENSE: AGPL 3.0
Author: Name: Davide, Surname: Setti, email: NAME.SURNAME@gmail.com
Copyright: Fondazione Bruno Kessler (www.fbk.eu), 2008

{% endcomment %}
{% block title %}500 Internal Server Error - {{block.super}}{% endblock %}

{% block content %}
<h2>Internal Server Error</h2>

    <p>I'm sorry, that page is currently unavailable due to a server misconfiguration.</p>

    <p>The server administrator has been notified, and we apologise for any inconvenience.</p>

{% endblock %}

